* {
    box-sizing: border-box;
    font-family: "Public Sans", sans-serif;
}

body {
    padding: 1.5rem;
    margin: auto;
    max-width: 50rem;
}


a {
    color: royalblue;
}

form {
    display: grid;
}

input,
textarea,
button {
    font-size: small;
}

input,
textarea {
    width: 100%;
    color: #333;
    background-color: #fff;
    padding: 0.5rem 1rem;
    border: 1px solid #4169e188;
    border-radius: 0.5rem;
}

input::placeholder {
    color: #333;
}

input[type=submit] {
    color: #fff;
    background-color: royalblue;
}

input[type="range"] {
    padding: 0;
    height: 0.25rem;
    width: 100%;
}

input[type="color"] {
    height: revert;
    width: revert;
    padding: 0;
    border: none;
}

textarea {
    padding: 1rem;
}

button {
    padding: 0.5rem 1rem;
    color: royalblue;
    background-color: aliceblue;
    border: none;
    border-radius: 0.5rem;
}